<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style type="text/css">
    tr,td {
      padding: 3px;
    }
  </style>
  <title></title>
</head>
<body >
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">BLACK PANTHOR</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="{% url 'add-product' %}">Add Product</a></li>
      <li><a href="{% url 'view-product' %}">view Product</a></li>
      <li><a href="{% url 'contect' %}">Contect</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if request.session.email %}
          <li><a href="{% url 'logout' %}">{{request.session.fname}}   <span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
          <li><a href="{% url 'change-password' %}"><span class="glyphicon glyphicon-edit"></span>Change Password</a></li>
          <li> <img src="{{request.session.profile_pic}}" width="50px" height="50px"> </li>
        {% else %}
          <li><a href="{% url 'singup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
    </ul>
  </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>
